li >button {
    border-radius: 10%;
    margin-left : 15%
}



li {
    margin-top: 1%;
    padding: 1%;
    margin-top: 5%;
    padding: 5%;
    border: 3px solid lightgray;
    width: 95%;
}

.mybtn {
    margin-left: 13%;
}

body {
    align-content: center;
    justify-content: center;
    margin-left: 40%; 
}

.Right {
    margin-left: 2%;
}

.myDiv {
    display: flex;
    margin-left: -20%;
}
.myDiv > div{
    width: 30%;
    margin-right: 2%;
}