li >button {
    border-radius: 10%;
    margin-left : 2%
}
li {
    margin-top: 1%;
    padding: 1%;
    border: 10px solid green;
    width: 40%;
}

.mybtn {
    margin-left: 13%;
}

body {
    align-content: center;
    justify-content: center;
    margin-left: 40%;
}